* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  gap: 10px;

}
@media (max-width: 640px) {
  .container {
    max-width: calc(100%-10px);
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 767px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 767px;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

.task {
  background-color: gray;
  padding: 20px;
  border-radius: 10px;
}
.task form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

input {
  font-size: 20px;
}
button.save {
  width: 130px;
  padding: 7px;
  font-size: 16px;
  border: none;
  border-radius: 10px;
}

span {
  font-size: 22px;
  font-weight: bolder;
  letter-spacing: 1px;
}

ul {
  font-size: 1.3rem;
}
ul li {
  margin: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
ul li .btn button {
  width: 100px;
  padding: 5px;
  font-size: 18px;
  border: none;
  color: white;
  border-radius: 10px;
}
ul li .btn button.del {
  background-color: rgb(235, 21, 21);
}

ul li .btn button.edit {
  background-color: rgb(24, 178, 106);
}
