.container{
    margin: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;

}
.task{
    background-color: gray;
    padding: 20px;
    border-radius: 10px;
}

span{
    font-size: 22px;
    font-weight: bolder;
    letter-spacing: 1px;
  font-family: 'Courier New', Courier, monospace;
}