<!DOCTYPE html>
<html>
    <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit Todo</title>
    <link rel="stylesheet" href="/style/index.css" />
  </head>
  <body>
    <h2>Edit Task</h2>

    <form action="/edit/<%= task._id %>" method="post">
      <input type="text" name="task" value="<%= task.task %>" />
      <button>Update</button>
    </form>
  </body>
</html>
