<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Todo Page</title>
    <link rel="stylesheet" href="/style/index.css" />
  </head>
  <body>
    <div class="container">
      <div class="task">
        <form action="/" method="post">
          <input type="text" name="task" />
          <button class="save">Save Task</button>
        </form>
      </div>
      <div class="task-list">
        <span>My Tasks</span>
        <ul>
          <% arr.forEach((e) => { %>
    <li>
      <%= e.task %>
<div class="btn">

    <!-- DELETE -->
    <form action="/delete/<%= e._id %>" method="post" style="display:inline;">
      <button type="submit" class="del">delete</button>
    </form>

    <!-- EDIT -->
    <form action="/edit/<%= e._id %>" method="get" style="display:inline;">
      <button type="submit" class="edit">edit</button>
    </form>
</div>
    </li>
  <% }) %>
        </ul>
      </div>
    </div>
  </body>
</html>
